:root {
	/* Gradient */
	--color-bg-light-slate-blue: hsl(224, 30%, 27%);
	--color-bg-light-royal-blue: hsl(241, 81%, 54%);
	--color-bg-violet-blue-circle: hsla(256, 72%, 46%, 1);
	--color-bg-persian-blue-circle: hsla(241, 72%, 46%, 0);
	--color-bg-persian-blue-circle-2: hsla(241, 72%, 46%, 1);

	--color-bg-light-red: hsla(0, 100%, 67%, 0.15);
	--color-bg-orangey-yellow: hsl(39, 100%, 56%, 0.15);
	--color-bg-green-teal: hsl(166, 100%, 37%, 0.15);
	--color-bg-cobalt-blue: hsl(234, 85%, 45%, 0.15);

	/* Neutral */
	--color-n-white: hsl(0, 0%, 100%);
	--color-n-pale-blue: hsl(221, 100%, 96%);
	--color-n-light-lavender: hsl(241, 100%, 89%);
	--color-n-dark-gray-blue: hsl(224, 30%, 27%);

	/* Primary */
	--color-p-light-red: hsl(0, 100%, 67%);
	--color-p-orangey-yellow: hsl(39, 100%, 56%);
	--color-p-green-teal: hsl(166, 100%, 37%);
	--color-p-cobalt-blue: hsl(234, 85%, 45%);

	--font-family: 'Hanken Grotesk', sans-serif;

	--mobile-threshold: 375px;
	--desktop-threshold: 1440px;
}
